<a href="https://colab.research.google.com/github/hetanshipatel/Data-mining-Coursework/blob/main/Data_mining_Frequent_Itemsets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

dataset = [['BREAD','MILK','BISCUIT','CORNFLAKES'],
['BREAD','TEA','BOURNVITA'],
['JAM','MAGGI','BREAD','MILK'],
['MAGGI','TEA','BISCUIT'],
['BREAD','TEA','BOURNVITA'],
['MAGGI','TEA','CORNFLAKES'],
['MAGGI','BREAD','TEA','BISCUIT'],
['JAM','MAGGI','BREAD','TEA'],
['BREAD','MILK'],
['COFFEE','COCK','BISCUIT','CORNFLAKES'],
['COFFEE','COCK','BISCUIT','CORNFLAKES'],
['COFFEE','SUGER','BOURNVITA'],
['BREAD','COFFEE','COCK'],
['BREAD','SUGER','BISCUIT'],
['COFFEE','SUGER','CORNFLAKES'],
['BREAD','SUGER','BOURNVITA'],
['BREAD','COFFEE','SUGER'],
['BREAD','COFFEE','SUGER'],
['TEA','MILK','COFFEE','CORNFLAKES']]
#dataset=pd.read_csv('/content/sample_data/GroceryStoreDataSet.csv')
#dataset = dataset.drop(['Unnamed: 0'],axis=1)
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,True,False,True,False,False,True,False,False,True,False,False
1,False,True,True,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,True,True,True,False,False
3,True,False,False,False,False,False,False,True,False,False,True
4,False,True,True,False,False,False,False,False,False,False,True
5,False,False,False,False,False,True,False,True,False,False,True
6,True,False,True,False,False,False,False,True,False,False,True
7,False,False,True,False,False,False,True,True,False,False,True
8,False,False,True,False,False,False,False,False,True,False,False
9,True,False,False,True,True,True,False,False,False,False,False
10,True,False,False,True,True,True,False,False,False,False,False
11,False,True,False,False,True,False,False,False,False,True,False
12,False,False,True,True,True,False,False,False,False,False,False
13,True,False,True,False,False,False,False,False,False,True,False
14,False,False,False,False,True,True,False,False,False,True,False
15,False,True,True,False,False,False,False,False,False,True,False
16,False,False,True,False,True,False,False,False,False,True,False
17,False,False,True,False,True,False,False,False,False,True,False
18,False,False,False,False,True,True,False,False,True,False,True

In [ ]:
apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support      itemsets  length
0  0.315789     (BISCUIT)       1
1  0.631579       (BREAD)       1
2  0.421053      (COFFEE)       1
3  0.315789  (CORNFLAKES)       1
4  0.315789       (SUGER)       1
5  0.368421         (TEA)       1

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.5) ]

    support itemsets  length
1  0.631579  (BREAD)       1

In [ ]:
frequent_itemsets[ frequent_itemsets['itemsets'] == {'BREAD', 'COFFEE'} ]

Empty DataFrame
Columns: [support, itemsets, length]
Index: []